<div class="container ">
<div class="row">
    <% @outlets.each do |outlet| %>
    <div class="col-md-4">
      <div class="sec">


        <%= link_to (image_tag outlet.image.url(:medium), class: 'img'), outlet%>
        <div class="under">
        <hr class="line">
        <h3 class="cheading">
        <%= outlet.title %></h3>
        <%= outlet.description %>
        <%= outlet.price %>
        <%= outlet.outlet %>
        <%= outlet.company %>
        <%= link_to 'Show', outlet %>
        <%= link_to 'Edit', edit_outlet_path(outlet) %>
        <%= link_to 'Destroy', outlet, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
