

  <div class="container ">
  <div class="row">
    <h1>Categories</h1>
    <% @companies.each do |company| %>
    <div class="col-md-4">

      <div class=" img_b cate">
    <%= link_to (image_tag company.image.url(:medium), class: 'cimg') %>
    <div class="cinfo">
    <p class="ctitle"> <%= company.title %> </p>
    <!-- <p class="cprice">  <span class="pred"> <%= company.price %> </span> </p>
    <p class="coutlet"> <span class = "pwhite" > <%= company.outelt %> </span> </p> -->
  </div>


    <%= link_to 'Show', company %>
    <%= link_to 'Edit', edit_company_path(company) %>
    <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>

</div>
</div>
<%= link_to 'New Company', new_company_path %>
