<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @company.title %>
</p>

<p>
  <strong>Product:</strong>
  <%= @company.product %>
</p>
<%= image_tag @company.image.url(:medium) %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
