<p id="notice"><%= notice %></p>




<div class="container ">
<div class="row">

  <div class="scroller col-md-12">
    <div><img src="assets/Salerot.jpg" alt="Price"></div>
    <div><img src="assets/Salerot.jpg" alt="Price"></div>
    <div><img src="assets/Pricecheck.jpg" alt="Price"></div>
  </div>


  <div class="categories">
    <h1>Categories</h1>
  <ul>
    <li>
        <a href="#">Foods & Groceries</a>

  </li>
  <li>
      <a href="#">Electronics</a>
</li>
<li>
    <a href="#">Clothes</a>
</li>
<li>
    <a href="#">Shoes</a>
</li>
</ul>
</div>
<h1>Electronics</h1>
    <% @categories.each do |category| %>
        <div class="col-md-4 img_b">


        <%= link_to (image_tag category.image.url(:medium), class: 'img'), products_path(category_id: category.id)%>


        <%= category.title %>

        <%= link_to 'Show', category %>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

    <% end %>

</div>
</div>
<%= link_to 'New Category', new_category_path %>
