

  <div class="bgimg">
    <div class="mainh">
      <h1>Welcome to <span class="bar">Bargain.</span></h1><span class="hspa">Compare Prices of Electronics</span>
    </div>
    <h3>Search By</h3>
    <div class="bs"> <%= button_to "Category", companies_path, :class => "button", :method => :get  %> </div>
    
    <div class="down"> <img  src ="assets/scrollArrow.png" class="sdown"> </div>


  </div>


<div class="container">
<div class="row">


<!--

  <div class="categories col-md-12">
    <h1>Categories</h1>
    <hr>
  <ul>
    <li>
        <a href="#">Foods & Groceries</a>

  </li>
  <li>
      <a href="#">Electronics</a>
</li>
<li>
    <a href="#">Clothes</a>
</li>
<li>
    <a href="#">Shoes</a>
</li>
</ul>
</div> -->

  <h1 class="cheading">Recently Compared Items </h1>

    <% @categories.each do |category| %>
        <div class="col-md-4">

          <div class=" img_b">
        <%= link_to (image_tag category.image.url(:medium), class: 'cimg'), products_path(category_id: category.id)%>
        <hr>
        <div class="cinfo">
        <p class="ctitle"> <%= category.title %> </p>
        <p class="cprice">  <span class="pred"> <%= category.price %> </span> </p>
        <p class="coutlet"> <span class = "pwhite" > <%= category.outlet %> </span> </p>
      </div>


        <!-- <%= link_to 'Show', category %>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      </div>
    </div>
    <% end %>

</div>
</div>
<!-- <%= link_to 'New Category', new_category_path %> -->
