<p id="notice"><%= notice %></p>


<div class="row wrapper ptop">

  <div class="col-md-6">
  <%= image_tag @product.image.url(:medium), :class => " pimg", :id => "zoom_01", :'data-zoom-image' => @product.avatar.url(:large) %>
   
    <script type="text/javascript">
        $('#zoom_01').elevateZoom();
    </script>
</div>
<div class="col-md-6 pinfo">
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<strong>Description:</strong>
  <%= @product.desription %>
</p>

<strong>Location:</strong>
  <%= @product.location %>
</p>
<!-- <p> -->
  <!-- <strong>Category:</strong>
  <%= @product.category %>
</p> -->
</div>

</div>

</div>

 <%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path(@product) %> 
