<p id="notice"><%= notice %></p>


<div class="row wrapper">

  <div class="col-md-6">
  <%= image_tag @product.image.url(:medium), :class => " pimg" %>
</div>
<div class="col-md-6 pinfo">
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
<p>
  <strong>price:</strong>
  <%= @product.price %>
</p>
<p>
  <!-- <strong>Category:</strong>
  <%= @product.category %>
</p> -->
</div>

</div>

</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path(@product) %>
